<div class="card-deck">
  <div class="card">
    <div class="card-header">Request Offer from supplier</div>
    <div class="card-body">
      <div class="card-text" *ngIf="task === null">
        Please claim and start a task from the
        <a routerLink="../task" routerLinkActive="nav-link-primary"> Tasks </a>
      </div>
      <div class="card-text" *ngIf="task !== null">
        <div>
          <label for="laptopname">
            Select urgency and target price for this request and then click the
            Submit button
          </label>
          <hr size="3" />
        </div>
        <div class="row mt-3"></div>
        <div class="row mt-3">
          <div class="col-6">
            <div><label>Requested Laptop : </label>{{ task["laptop"] }}</div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <label for="urgency">Select Urgency : </label>
              <select [(ngModel)]="selectedUrgency" (change)="selected()">
                <option *ngFor="let item of data" [ngValue]="item">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <label for="targetprice">Target price : </label>
              <input [(ngModel)]="targetPrice" placeholder="target price" />
            </div>
          </div>
        </div>
        <div class="d-flex flex-row mb-3">
          <button
            type="button"
            class="btn btn-primary ml-1"
            (click)="approve()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
