

.tutorialCard {
    margin-top: 20px;
}

.card-header {
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
    font-weight: bold;
}

.cardDesc{
    padding: 10px 20px;
    font-family: Montserrat-Light;
    font-size: 1.5rem;
}

.userInputItem {
    padding: 10px 20px;
    font-family: Montserrat-Light;
    font-size: 1.25rem;
}

.inputCol {
    background-color: #EDEDED;
    padding-top: 10px;
}

.specsCol {
    margin-left: 50px;
}

.submit-btn {
    margin: 20px;
    width: 200px;
    border-radius: 25px;
    font-family: Montserrat-Light;
    font-size: 1.25rem;
    font-weight: bold;
}

.fa-info-circle {
    color: blue;
}

.errorDesc {
    color: red;
    padding: 10px 20px;
    font-family: Ubuntu;
    font-size: 1rem;
}