<div class="card-deck">
  <div class="card">
    <div class="card-header">Request Laptop</div>
    <div class="card-body">
      <form class="card-text" (ngSubmit)="submit()" #processForm="ngForm">
        <div class="form-group">
          <div class="row mt-3">
            <div class="col-3">
              <label for="laptopname">Select Laptop model: </label>
            </div>
            <div class="col-4">
              <select [(ngModel)]="selectedLevel" (change)="selected()">
                <option *ngFor="let item of data" [ngValue]="item">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Request</button>
      </form>
    </div>
  </div>
</div>
