<div class="card-deck" *ngIf="route.children.length === 0 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Supplier View</h4>
  
        <div class="row employeeRow">
          <div class="col-lg-2 employeePhoto">
            <img
              src="../../assets/img/Supplier.png"
              alt="supplier-img"
              width="80%"
            />
          </div>
          <div class="col-lg-6 colDesc">
            <p>This is the supplier view. A supplier can:</p>
            <ul>
              <li>
                Prepare an offer
              </li>
              <li>or view created orders</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  