<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Order Management</div>
    <div class="list-group list-group-flush">
      <a
        class="nav-link"
        routerLink="home/start"
        routerLinkActive="nav-link-primary"
      >
        <fa-icon [icon]="laptopIcon" class="nav-icon"></fa-icon> Request Laptop
      </a>
      <a
        class="nav-link"
        routerLink="home/process"
        routerLinkActive="nav-link-primary"
      >
        <i class="nav-icon icon-list"></i> View Orders
      </a>
      <a
        class="nav-link"
        routerLink="home/task"
        routerLinkActive="nav-link-primary"
      >
        <fa-icon [icon]="shoppingCartIcon" class="nav-icon"></fa-icon> Request
        Offer
      </a>
      <a
        class="nav-link"
        routerLink="home/supplieroffer"
        routerLinkActive="nav-link-primary"
      >
        <fa-icon [icon]="handIcon" class="nav-icon"></fa-icon> Prepare Offers
      </a>
    </div>
  </div>
</div>
