<!-- Order Laptop Carousel -->
<div id="OrderLaptopCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- first Carousel Item -->
    <div class="carousel-item active">
      <!-- Apple Row -->
      <div class="row product-row">
        <!-- Apple Photo col -->
        <div class="col item-photo">
          <img
            style="max-width: 100%"
            src="https://cdn.shopify.com/s/files/1/0024/9803/5810/products/552118-Product-0-I-637702378685472821_540x.jpg"
          />
        </div>
        <!-- Apple Specs Col -->
        <div class="col product-col">
          <!-- Product title -->
          <h3>
            Apple MacBook Pro 16-inch with M1 Pro chip 1TB SSD (Space Grey)
          </h3>

          <!-- Specifications -->
          <div class="specifications">
            <h3>Specs</h3>
            <ul>
              <li>
                Apple M1 Pro chip for a massive leap in CPU, GPU and machine
                learning performance
              </li>
              <li>
                10-core CPU delivers up to 2x faster performance to fly through
                pro workflows quicker than ever
              </li>
              <li>
                16-core GPU with up to 4x faster performance for
                graphics-intensive apps and games
              </li>
            </ul>
          </div>

          <div class="order-section" style="padding: 20px 0px">
            <button class="btn btn-success" (click)="requestMac()">
              Request Laptop
              <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row product-row">
        <div class="col item-photo">
          <img
            style="max-width: 100%"
            src="https://cdn.shopify.com/s/files/1/0024/9803/5810/products/440681-Product-0-I-637244538069732096_146ce9a4-c3ce-4ef7-8ba6-926b3cdf06f4_1080x.jpg"
          />
        </div>
        <div class="col product-col">
          <!-- Product title -->
          <h3>Microsoft Surface Book 3 13.5" i7 1TB</h3>

          <!-- Specifications -->
          <div class="specifications">
            <h3>Specs</h3>
            <ul>
              <li>
                Most powerful Surface laptop yet, with quad-core powered, 10th
                Gen Intel Core processors
              </li>
              <li>
                Fastest graphics on Surface, powered by NVIDIA® GTX GeForce GPU
              </li>
              <li>
                Best Surface laptop for gaming. Pair with Xbox Wireless
                controller*2 and Xbox Game Pass for PC*
              </li>
            </ul>
          </div>
          <div class="order-section" style="padding: 20px 0px">
            <button class="btn btn-success" (click)="requestSurface()">
              Request Laptop
              <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row product-row">
        <div class="col item-photo">
          <img
            style="max-width: 100%"
            src="https://cdn.shopify.com/s/files/1/0024/9803/5810/products/470486-Product-0-I-637311129669883275_540x.jpg"
          />
        </div>
        <div class="col product-col">
          <!-- Product title -->
          <h3>
            HP Spectre 15-EB-0042TX X360 15.6" Ultra HD 2-in-1 Laptop (1TB)
            [Intel i7]
          </h3>

          <!-- Specifications -->
          <div class="specifications">
            <h3>Specs</h3>
            <ul>
              <li>
                15.6" Ultra HD (3840 x 2160) anti-reflection multitouch screen
                display
              </li>
              <li>Intel® Core™ i7 processor (2.6 - 5.0GHz)</li>
              <li>1TB SSD storage with 16GB RAM</li>
            </ul>
          </div>
          <div class="order-section" style="padding: 20px 0px">
            <button class="btn btn-success" (click)="requestHP()">
              Request Laptop
              <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#OrderLaptopCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#OrderLaptopCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
