.tutorialCard {
    margin-top: 20px;
}

h4 {
    font-family: Montserrat-Bold;
    font-size: 2.5rem;
    font-weight: bold;
}

.colDesc {
    font-family: Montserrat-Light;
    font-size: 1.25rem;
}

.employeeRow {
    margin-top: 30px;
    width: 70%;
}