<div class="card-deck">
  <div class="card tutorialCard">
    <div class="card-header">Prepare Offer</div>
    <div class="card-body">
      <div class="card-text" *ngIf="task === null">
        Please select a request from this
        <a routerLink="../task" routerLinkActive="nav-link-primary"> list </a>
      </div>
      <div class="card-text" *ngIf="task !== null">
        <div>
          <label class="cardDesc" for="laptopname"
            >Please prepare an offer for this order:</label
          >
        </div>
        <div class="row">
          <div class="col inputCol">
            <div class="userInputItem">
               <label>Requested Laptop : </label> {{ task["laptop"] }}
            </div>
            <!-- Supplier Price -->
            <div class="form-group userInputItem">
              <label for="supplierprice">Supplier price : </label>
              <input
                type="number"
                [(ngModel)]="supplierPrice"
                placeholder="Supplier price"
                (change)="checkInput()"
              />
              <label class="errorDesc" *ngIf="isVisible"
                ><i class="fas fa-exclamation-triangle"></i> {{ errorDesc }}
              </label>
            </div>

            <!-- End Supplier Price -->
          </div>
          <!-- Spec Column -->
          <div class="col specsCol">
            <h3>Order Details</h3>
            <div class="MacBook" *ngIf="isMacBook">
             <h5>Apple MacBook Pro 16-inch</h5>
              <!-- Price-->
              <h5>Retail Price: $4049</h5>
              <!-- Specifications -->
              <div class="specifications">
                <h5>Specs:</h5>
                <ul>
                  <li>
                    Apple M1 Pro chip for a massive leap in CPU, GPU and machine
                    learning performance
                  </li>
                  <li>
                    10-core CPU delivers up to 2x faster performance to fly
                    through pro workflows quicker than ever
                  </li>
                  <li>
                    16-core GPU with up to 4x faster performance for
                    graphics-intensive apps and games
                  </li>
                </ul>
              </div>
            </div>
            <div class="Surface" *ngIf="isSurface">
              <h5>Microsoft Surface Book 3</h5>
              <!-- Price-->
              <h5>Retail Price: $4099</h5>
              <!-- Specifications -->
              <div class="specifications">
                <h5>Specs:</h5>
                <ul>
                  <li>
                    Most powerful Surface laptop yet, with quad-core powered,
                    10th Gen Intel Core processors
                  </li>
                  <li>
                    Fastest graphics on Surface, powered by NVIDIA® GTX GeForce
                    GPU
                  </li>
                  <li>
                    Best Surface laptop for gaming. Pair with Xbox Wireless
                    controller*2 and Xbox Game Pass for PC*
                  </li>
                </ul>
              </div>
            </div>
            <div class="HP" *ngIf="isHP">
              <h5>HP Spectre</h5>
              <!-- Price-->
              <h5>Retail Price: $4197</h5>
              <!-- Specifications -->
              <div class="specifications">
                <h5>Specs:</h5>
                <ul>
                  <li>
                    15.6" Ultra HD (3840 x 2160) anti-reflection multitouch
                    screen display
                  </li>
                  <li>Intel® Core™ i7 processor (2.6 - 5.0GHz)</li>
                  <li>1TB SSD storage with 16GB RAM</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end Spec Column -->
          <!-- Laptop Images Column -->
          <div class="col">
            <div class="MacBook" *ngIf="isMacBook">
              <img
                style="max-width: 60%"
                src="https://cdn.shopify.com/s/files/1/0024/9803/5810/products/552118-Product-0-I-637702378685472821_540x.jpg"
              />
            </div>
            <div class="Surface" *ngIf="isSurface">
              <img
                style="max-width: 60%"
                src="https://cdn.shopify.com/s/files/1/0024/9803/5810/products/440681-Product-0-I-637244538069732096_146ce9a4-c3ce-4ef7-8ba6-926b3cdf06f4_1080x.jpg"
              />
            </div>
            <div class="HP" *ngIf="isHP">
              <img
                style="max-width: 60%"
                src="https://cdn.shopify.com/s/files/1/0024/9803/5810/products/470486-Product-0-I-637311129669883275_540x.jpg"
              />
            </div>
          </div>
          <!-- end Laptop Images Column -->
        </div>

        <div class="d-flex flex-row mb-3">
          <button
            type="button"
            [disabled]="invalidInput"
            class="btn btn-primary submit-btn"
            (click)="supplier()"
          >
            Submit Offer <i class="fas fa-chevron-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
