.tutorialCard {
    margin-top: 20px;
}

.headerDesc{
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 2rem;
    margin-bottom: 20px;
 }

.btn-secondary {
    text-align: left;
    font-family: Montserrat-Light;
    font-size: 1.25rem;
}

.fullProcessDiv {
    text-align: center;
}

.imageToCenter{
    margin-left: 30px;
}


h4 {
    font-family: Montserrat-Bold;
    font-size: 2.5rem;
    font-weight: bold;
}

.processDiagramDisc{
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-weight: bold;
}

.colDesc {
    font-family: Montserrat-Light;
    font-size: 1.25rem;
}

.btn-group-vertical{
    margin-left: 30px;
}

.userInputItem {
    padding: 10px 30px;
    font-family: Montserrat-Light;
    font-size: 1.25rem;
}

.submit-btn {
    margin: 20px;
    width: 200px;
    border-radius: 25px;
    font-family: Montserrat-Light;
    font-size: 1.25rem;
    font-weight: bold;
}
